html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.jumbotron {
    margin-bottom: 0px;
}

.site-header h1, .footer-text {
    color: #f0f0f0;
}

.site-header, .footer {
    background: #202f56;
    background: -moz-linear-gradient(top,  #202f56 0%, #173e59 50%, #202f56 100%);
    background: -webkit-linear-gradient(top,  #202f56 0%,#173e59 50%,#202f56 100%);
    background: linear-gradient(to bottom,  #202f56 0%,#173e59 50%,#202f56 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202f56', endColorstr='#202f56',GradientType=0 );
}

.site-body-join {
    background: #D8D8D8;
    padding: 20px;
}

#gameCode {
    text-transform: uppercase;
}

.site-body-games {
    padding: 20px;
}

.gameButton {
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
