* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

@font-face {
    font-family: "Eraser";
    src: url(fonts/Eraser.ttf);
}

.wb-text-style {
    font-family: "Eraser";
}

.header {
    padding: 15px;
    background-color: #ccc;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.master-container {
    display: none;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.master-button {
    margin-top: 10px;
    font-size: large;
    padding: 10px;
}

.readyPage, .solvePage {
    display: none;
}

.countdown {
    text-align: center;
    font-size: x-large;
    margin: 40px;
}

.wb-row {
    margin-top: 25px;
}

.stage {
    font-size: x-large;
    visibility: hidden;
}

.action {
    width: 22.5%;
}

.tile {
    width: 15%;
    position: relative;
}
